<div class="d-flex filter-container">

  <div>
    <h3 class="bold-text">
      Power AC Inverter
    </h3>
    <h4 *ngIf="acEnergyInverterDayData?.acEnergyInverterDay">
      Day Energy (Wert von API): {{acEnergyInverterDayData?.acEnergyInverterDay}} Ws
    </h4>

    <h4 *ngIf="acCalculated?.energyDay">
      Day Energy (berechneter Wert):   {{acCalculated?.energyDay}} Ws
    </h4>



  </div>



  <div class="ml-auto">
    <mat-form-field>
      <mat-label>Select Day</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="initialDate" (dateChange)="sendRequest()" [max]="maxDate">
      <mat-hint>DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

</div>

<div *ngIf="chartData">
  <ngx-charts-area-chart
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="'Time'"
    [yAxisLabel]="'Power [W]'"
    [xAxisTickFormatting]="convertTime"
    [results]="chartData"
    [scheme]="'forest'"
    [gradient]="true"
  ></ngx-charts-area-chart>
</div>
