<div class="header-container">
  <button mat-button class="btn" [routerLink]="['/dc-power-pv']">Power (PV)</button>
  <button mat-button class="btn" [routerLink]="['/ac-power-inverter']">Power (Inverter)</button>
  <button mat-button class="btn" [routerLink]="['/ac-power-grid']">Power (Grid)</button>
  <button mat-button class="btn" [routerLink]="['/ac-power-load']">Power (Load)</button>
  <button mat-button class="btn" [routerLink]="['/dc-power-akku']">Power (Storage)</button>
  <button mat-button class="btn" [routerLink]="['/state-of-charge-akku']">SoC (Storage)</button>
  <button mat-button class="btn" [routerLink]="['/dc-voltage-pv']">Voltage (PV)</button>
  <button mat-button class="btn" [routerLink]="['/ac-current-grid']">Current (Grid)</button>
  <button mat-button class="btn" [routerLink]="['/autonomy']">Autonomy</button>
  <button mat-button class="btn" [routerLink]="['/self-consumption']">Self Consumption</button>
</div>
