<div class="d-flex filter-container">
  <div>
    <h3 class="bold-text">
      Relative Autonomy
    </h3>

    <h4 *ngIf="!chartData">
      No data available for selected day
    </h4>
  </div>

  <div class="ml-auto">
    <mat-form-field>
      <mat-label>Select Day</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="initialDate" (dateChange)="sendRequest()" [max]="maxDate">
      <mat-hint>DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div *ngIf="chartData">
  <ngx-charts-line-chart
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="'Time'"
    [yAxisLabel]="'Autonomy [%]'"
    [xAxisTickFormatting]="convertTime"
    [results]="chartData"
  ></ngx-charts-line-chart>
</div>
